ol:not([class]),
ul:not([class]),
dl:not([class]) {
    margin-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;

    li,
    dt,
    dd {
        margin: 0.5em 0;
        padding-left: 0.5em;
        word-break: break-word;
        line-height: inherit;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

ul:not([class]) {
    list-style: disc;
}

ol:not([class]) {
    list-style: decimal;
}
