.search {

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__result {

        span {
            background: c('primary-base');
            color: #fff;
            padding: 0.25em 0.75em;
            border-radius: 1em;
            font-weight: 600;
            font-size: 1rem;
        }
    }

    input[type="text"] {
        padding: 1em;
        font-family: inherit;
        font-size: inherit;
        border: none;
        color: c('base-2');
        background: rgba(0, 0, 0, 0.1);
        border-radius: 0.25em;

        &:placeholder {
            color: red;
        }
    }
}
