$sizing: (
    base: 16px,
    large: (
        0: 1rem,
        1: 1.414rem,
        2: 1.999rem,
        3: 2.827rem,
        4: 3.998rem,
        5: 5.653rem,
        6: 7.994rem,
    ),
    small: (
        0: 1rem,
        1: 1rem,
        2: 1.414rem,
        3: 1.999rem,
        4: 2.827rem,
        5: 3.998rem,
    )
);
